<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel Administrativo | Inacapito</title>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static_admin/admin_panel.css">

</head>
<body>
  <h1>Panel del Administrador</h1>
  <ul>
    <li><a href="/admin/eventos/">Gestionar Eventos</a></li>
    <li><a href="#">Asignar Puntos</a></li>
    <li><a href="#">Revisar Progreso de Alumnos</a></li>
  </ul>

  <a href="/login/">Cerrar Sesión</a>
</body>
</html>