<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventos | Inacapito</title>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="static_alumno/eventos.css">

</head>
<body>
  <h1>Eventos Disponibles</h1>
  <ul>
    <li>Feria de Bienvenida - 10 de marzo, Campus Central - +500 puntos</li>
    <li>Charla de Bienestar Estudiantil - 15 de marzo - +400 puntos</li>
  </ul>

  <a href="/alumno/panel/">Volver al Panel</a>
</body>
</html>