<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo | Inacapito</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static_alumno/modulo.css">
  
</head>
<body>
  <h1>Módulo: Reglas de Asistencia</h1>
  <p>Las clases requieren una asistencia mínima del 80%.</p>

  <a href="/alumno/quiz/">Realizar Quiz del Módulo</a>
</body>
</html>