<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz | Inacapito</title>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="static_alumno/quiz.css">

</head>
<body>
  <h1>Quiz: Reglas de Asistencia</h1>
  <form method="POST">
    <p>¿Cuál es la asistencia mínima requerida para aprobar?</p>
    <label><input type="radio" name="respuesta" value="50%"> 50%</label><br>
    <label><input type="radio" name="respuesta" value="60%"> 60%</label><br>
    <label><input type="radio" name="respuesta" value="80%"> 80%</label><br>
    <button type="submit">Enviar Respuesta</button>
  </form>

  <a href="/alumno/panel_alumno/">Volver al Panel</a>
</body>
</html>