<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ruta General | Inacapito</title>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="static_alumno/ruta.esp.css">

</head>
<body>
  <h1>Ruta General: Explorador del Instituto</h1>
  <ul>
    <li>Biblioteca (+500 puntos)</li>
    <li>Oficina de Bienestar Estudiantil (+400 puntos)</li>
    <li>Cafetería (+300 puntos)</li>
    <li>Sala de Estudio (+300 puntos)</li>
  </ul>

  <a href="/alumno/quiz/">Ir al Quiz Final</a>
</body>
</html>
