:root {
  --rojo: #cc3333;
  --blanco: #ffffff;
  --negro: #000000;
}

body {
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
  color: var(--negro);
  margin: 0;
}

header {
  background-color: var(--rojo);
  color: var(--blanco);
  text-align: center;
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
  max-width: 600px;
}

li {
  background: var(--blanco);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

a {
  display: block;
  background: var(--rojo);
  color: var(--blanco);
  text-align: center;
  padding: 0.8rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  background-color: #b32d2d;
}
